@tailwind base;
@tailwind components;
@tailwind utilities;

.core-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: $primary-color;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  border: none;

  &:not(button:disabled) {
    &:hover {
      background-color: darken($primary-color, 10%);
      cursor: pointer;
    }
  }
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
